html,body {
  height: 100%;
  font-family: arial,sans-serif;
}

body{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/f2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  background-color: #01233f80;
  height: 100%;
  width: 100%;
  color: #fff;
}

#img-logo{
    width: 80px;
    margin: 40px 50px;
    position: fixed;
    background-color: #00000050;
    border-radius: 73px;
    padding: 12px;
}

h1{
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 100px 80px;
  margin: auto;
  margin-top: 3%;
  background-color: #000000a7;
  box-sizing: border-box;
}

.form-registro{
  width: 100%;
  max-width: 600px;
  padding: 60px 80px;
  margin: auto;
  margin-top: 3%;
  background-color: #000000a7;
  box-sizing: border-box;
}

.form-signin .checkbox, .form-registro .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  height: 40px;
  font-size: 1.3rem;
  margin: 40px 0px 10px 0px;
  color: #fff;
}

.form-registro .form-control{
  max-width: 100%;
  font-size: 1.3rem;
  margin: 10px 10px;
  box-sizing: border-box;
  color: #fff;
}

.form-control{
  border: none;
  border-bottom: 2px solid;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.form-control:focus{
  box-shadow: unset;
  background-color: transparent;
}
.form-control::placeholder{
  color:#ffffff97;
}

form .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"],.form-signin input[type="password"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-registro input[type="email"],.form-registro input[type="password"], .form-registro input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#btn-login, #btn-registro{
  box-sizing: border-box;
  width: auto;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f7c500;
  border: #f7c500;
  margin: auto;
  margin-bottom: 50px;
}

#btn-registro{
  margin-top: 50px;
  min-width: 65%;
}

#btn-login:hover, #btn-registro:hover{
  background-color: #ffd324;
  border: #f7c500
}
#recuerdame, p{
 font-size: 0.9rem;
}
a{
  font-size: 1.1rem;
  color: #fff;
}
a:hover{
  color: #fff;
  text-decoration: underline;
}
p{
  margin: auto;
  text-align: center;
}
.fas{
  font-size: x-large;
  color: #f7c500;
}
.d-fas{
  margin: auto;
  text-align: center;
}
.is-valid{
  border: #457d1b solid 2px !important;
}
.is-invalid{
  border: #ff0808 solid 2px !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  will-change: transform;
  position: absolute;
  color: rgb(1, 35, 63);
  background-color: #f9f9f9;
  min-width: 200%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  line-height: 1.15;
  border-radius: 10px;
  display: none;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown p{
  font-size: 0.8rem;
}
.respuesta{
  display: none;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}
